body {
  height: 100%;
  relative;
  background-image: url("img/Beach.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/Beach.jpeg"); */
  /*   height: 50vh; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 0;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: purple;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px white;
}

.off-text {
  font-size: 25px;
}

.bi-house {
  color: purple;
  font-size: 25px;
  margin-left: 15px;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #b39eb5;
}

.avatar:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}



section {
  padding: 0 0 2px;
}

section#about-section {
  /* background-color: #ffeeee; */
  /*   font-family: 'Libre Franklin', sans-serif; */
  font-family: 'David Libre', serif;
  font-size: 25px;
}

section#projects-section {
  /* background-color: #fff6ea; */
  font-family: 'David Libre', serif;
  font-size: 20px;
}

.img-thumbnail {
  height: 50px;
  width: 50px;
}

.img-thumbnail:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}


section#contact-section {
  /* background-color: #fff6ea; */
}

h1 {
  font-size: 60px;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: purple;
  margin-top: 10px;
  font-size: 45px;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  color: purple;
  margin-top: 10px;
  font-size: 45px;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  color: purple;
  margin-top: 10px;
  font-size: 45px;
}

h6 {
  font-family: 'Abril Fatface', cursive;
  color: purple;
  margin-top: 10px;
  font-size: 45px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  object-fit: contain;
  overflow: hidden;
}

.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba (0, 0, 0, 0, .3);
}

.carousel-caption {
  z-index: 1;
}

.bi-envelope {
  color: black;
  font-size: 50px;
}

.bi-envelope:hover {
  color: red;
}

.bi-linkedin {
  font-size: 50px;
}

.bi-linkedin:hover {
  color: hotpink;
}

.bi-telephone {
  color: black;
  font-size: 50px;
}

.bi-telephone:hover {
  color: lightblue;
}

footer {
  /* background-color: #ffeeee; */
  padding: 10px;
}